@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family:'Press Start 2P',  sans-serif;
  color: #eee;
  background-image: -webkit-linear-gradient(top, #339cb9 0%,#3fa8c6 20%,#ff9ab2 100%);
  background-repeat: no-repeat;
}


/* LAYOUT */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 35vh;
  border-bottom: 7px solid #eee;
}

.number {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.247);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 1rem;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: rgb(41, 38, 38);
  font-size: 6rem;
  padding: 4rem 6rem;
  text-align: center;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.90);
	}
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

h1 {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.top-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

.bottom-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-top: 6rem;
}

.instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 2.8rem;
  margin-top: -6rem;
  margin-bottom: 2rem;
}

.between {
  padding: 1rem;
  font-size: 1.4rem;
}

.guess {
  background: rgba(255, 255, 255, 0.247);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 1rem;
  border: 1px solid rgba(238, 238, 238, 0.623);
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 38rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: rgb(41, 38, 38);
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  border-radius: .5rem;
  transition: all .3s;
}

.btn:hover {
  background-color: rgb(41, 38, 38);
  color: #eee;
}

.label-score {
  margin-bottom: 2rem;
}

/*--------------------------------------------------------------------*/
/*75em = 1200px*/
@media only screen and (max-width: 75em) {
  
  header {
    height: 25vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    border-bottom: transparent;
  }
  
  h1 {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  
  .number {
    width: 100%;
    font-size: 6rem;
    height: 11rem;
    width: 11.5rem;
    padding: .5rem 9rem 0 9rem;
    text-align: center;
    transform: scale(1);
    animation: pulse 2s infinite;
  }

  main {
    height: 75vh;
  }

  .message {
    font-size: 2.5rem;
    margin: 0;
  }

  .guess {
    margin-bottom: 1rem;
  }

  .label-score {
    margin-bottom: 1rem;
  }
}

/*43.75em = 700px*/
@media only screen and (max-width: 43.75em) {
  
  html {
    /*7.5px/16px(default)*100(porcentaje)*/
    font-size: 46.87%;
  }
  
  header {
    justify-content: center;
    align-items: center;
    gap: 0;
    height: 27vh;
    border-bottom: transparent;
  }
  
  h1 {
    font-size: 2.6rem;
    padding: 3rem;
    align-self: center;
    text-align: center;
  }
  
  .number {
    width: 100%;
    font-size: 8rem;
    height: 13rem;
    width: 13.5rem;
    padding: .5rem 9rem 0 9rem;
    text-align: center;
    transform: scale(1);
    animation: pulse 2s infinite;
    margin-top: 0;
  }

  main {
    height: 73vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .top-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    height: 60%;
  }

  .message {
    font-size: 2.6rem;
    padding: 4rem 0 1.5rem 0;
  }
  
  .between {
    padding: 2rem;
    font-size: 1.6rem;
  }
  
  .guess {
    font-size: 4rem;
    padding: 2.5rem;
    height: 10rem;
    width: 33rem;
    display: block;
  }
  
  .btn {
    font-size: 1.8rem;
    padding: 1.8rem 2.2rem 1.8rem 2.8rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: all .3s;
  }

  .bottom-score {
    font-size: 1.8rem;
    margin-bottom: 9rem;
    padding: 1.5rem;
  }

  .label-score {
    padding: 1.5rem;
  }
}